
.header__logo{
  height:200px;
  background-color:#000;
  display:flex;
  justify-content: center;
  align-items:center;
}
.header__logo img{
  width:100px;
  height:100px;
}
.home-ul{
  list-style: none;
  display:flex;
  justify-content: center;
  align-items:center;
}
.home-ul li{
  width:200px;
  font-size:20px;
}
h1{
  text-align:center;
}